{{ define "main" }}
  <!-- Banner -->
  {{ with .Params.banner }}
    <section class="section pt-14">
      <div class="container">
        <div class="row justify-center">
          <div class="lg:col-7 md:col-9 mb-8 text-center">
            <h1 class="mb-4 text-h3 lg:text-h1">
              {{ .title | markdownify }}
            </h1>
            <p class="mb-8">
              {{ .content | markdownify }}
            </p>
            {{ with .button }}
              {{ if .enable }}
                <a
                  class="btn btn-primary"
                  href="{{ .link | absURL }}"
                  {{ if strings.HasPrefix .link `http` }}
                    target="_blank" rel="noopener"
                  {{ end }}>
                  {{ .label }}
                  <i class="fa fa-arrow-right pl-2"></i>
                </a>
              {{ end }}
            {{ end }}
          </div>
          <div class="col-12">
            {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "mx-auto lg:!max-w-[800px]" "DisplayXL" "800x" ) }}
          </div>
        </div>
      </div>
    </section>
  {{ end }}
  <!-- /Banner -->
  <!-- Trainings -->
  {{ with site.GetPage "sections/formacoes" }}
    {{ if .Params.enable }}
      <section class="section">
        <div class="container">
          <div class="row">
            <div class="md:col-10 lg:col-8 xl:col-6 mx-auto mb-12 text-center">
              <h2 class="mb-4">
                {{ .Title }}
              </h2>
              <p>
                {{ .Params.description | markdownify }}
              </p>
            </div>
            <div class="col-12">
              <div class="tab" data-tab-group="tab-group-name">
                <ul class="tab-nav" data-tab-nav>
                  {{ range $index, $item := .Params.formacoes }}
                    <li class="tab-nav-item {{ if eq $index 0 }}active{{ end }}" data-tab="{{ $index }}" tabindex="{{ if eq $index 0 }}0{{ else }}-1{{ end }}">
                      {{ $item.name }}
                    </li>
                  {{ end }}
                </ul>
                <div class="tab-content" data-tab-content>
                  {{ range $index, $item := .Params.formacoes }}
                    <div class="tab-content-panel {{ if eq $index 0 }}active{{ end }}" data-tab-panel="{{ $index }}">
                      <div class="flex">
                        <div class="w-1/3">
                          <img src="{{ $item.avatar }}" alt="{{ $item.name }}" class="img-fluid" />
                        </div>
                        <div class="w-2/3 pl-4">
                          <h3 class="h5 font-secondary primary font-semibold">
                            {{ $item.name }}
                          </h3>
                          <blockquote>
                            {{ $item.content | markdownify }}
                          </blockquote>
                        </div>
                      </div>
                    </div>
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    {{ end }}
  {{ end }}
  <!-- /Trainings -->
{{ end }}
